@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;700&display=swap');

:root{
  --dark-purple:  #383B9C;
  --medium-purple: #6B71F2;
  --light-purple: #BEC1FC;
  --light-purple-font: #BDC0FF;
  --green-subtitle: #079B80;
  --dark-gray-form: #848484;
  --light-medium-gray: #E5E5E5;
  --light-gray:#F0EFEF;
  --medium-gray: #D1D0D0;
  --white: #fff;
  --purple-background-form: #474BB2;
  --p-small: 10px;
  --p-medium: 14px;
  --p: 16px;
  --h3: 16px;
  --h2: 20px;
  --h1: 24px;
  --h1-large: 36px;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html{
  font-size: .625rem;
  font-family: 'Public Sans', sans-serif;
}

body{
  background: var(--light-gray);
}


.h3-bold-title{
  font-size: var(--h3);
  font-weight: 700;
}

.h2-bold-title{
  font-size: var(--h2);
  font-weight: 700;
}

.h2-regular-title{
  font-size: var(--h2);
  font-weight: 400
}
.p-small-bold{
  font-size: var(--p-small);
  font-weight: 700;
}

.p-small-regular{
  font-size: var(--p-small);
  font-weight: 400;
}
.p-medium-bold{
  font-size: var(--p-medium);
  font-weight: 700;
}


.p-medium-regular{
  font-size: var(--p-medium);
  font-weight: 400;
}

/*header*/
.header{
  background: var(--dark-purple);
  color: var(--light-gray);
  height: 57.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--p);
  font-weight: 400;
  position: absolute;
  z-index: 1;
  top: 0;
  left: -100%;
  width: 100%;
  transform: translateX(0%);
  transition-duration: 1s;
  transition-timing-function: linear;
}

.header-1{
  background: var(--dark-purple);
  color: var(--light-gray);
  height: 57.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--p);
  font-weight: 400;
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  transform: translateX(100%);
  transition-duration: 1s;
  transition-timing-function: linear;
}

.header .header__logo{
  width: 14.5rem;
  height: 2.4rem;
  margin-top: 8rem;
}

.header .ul__list{
  margin-top: 8.9rem;
}

.header .ul__list li{
  list-style: none;
  display: flex;
  width: 20rem;
  height: 2.4rem;
  margin: 0 auto;
}

.header .ul__list li:nth-child(2), 
.header .ul__list li:nth-child(3),
.header .ul__list li:nth-child(4){
  margin-top: 4rem;
}

.header .ul__list a{
  display: inline-flex;
  text-decoration: none;
  color: var(--light-gray);
}

.header .ul__list span{
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ul__list-ancle p{
  margin-left: 1.2rem;
}

.ul__list-ancle .header__home{
  background-image: url('./assets/icons/home-header.svg');
}

.ul__list-ancle .header__book{
  background-image: url('./assets/icons/book-header.svg');
}

.ul__list-ancle .header__email{
  background-image: url('./assets/icons/email-header.svg');
  display: none;
}

.ul__list-ancle .header__cellphone{
  background-image: url('./assets/icons/ci_phone-header.svg');
}

/*hero*/

.hero__container{
  height: 76.8rem;
  position: relative;
}

.hero{
  background-image: url('./assets/images/background-header-cellphone.png');
  height: 29.3rem;
  background-size: cover;
  display: flex;
  flex-direction: column;
  z-index: 0; 
}

.hero .hero-menu-burguer{
  width: 34px;
  height: 26px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  z-index: 2;
  margin-top: 2.4rem;
  margin-left: 1rem;
}

.hero-menu-burguer div{
  height: .3rem;
  background: var(--white);
}
.hero-menu-burguer .first-line{
  width: 100%;
}

.hero-menu-burguer .second-line{
  width: calc(100%*2/3);
  transform: translateX(0rem);
  transition-duration: 1s;
  margin-top: .4rem;
}

.hero-menu-burguer .second-line-moved{
  width: calc(100%*2/3);
  transform: translateX(1.1rem);
  transition-duration: 1s;
  margin-top: .4rem;
}

.hero-menu-burguer .third-line{
  width: calc(100%*1/3);
  transform: translateX(0rem);
  transition-duration: 1s;
  margin-top: .4rem;
}

.hero-menu-burguer .third-line-moved{
  transform: translateX(2.3rem);
  transition-duration: 1s;
  width: calc(100%*1/3);
  margin-top: .4rem;
}

/*formulario de contacto*/

.form-contact{
  width: 90%;
  background: var(--dark-purple);
  color: var(--light-purple);
  padding: 1.2rem;
  position: relative;
  z-index: 1;
  top: -4.2rem;
  left: 1.8rem;
  max-width: 41.5rem;
}

.form-contact .form-contact-form{
  margin-top: 3.3rem;
}

.p-small-form{
  color: var(--medium-gray);
}

.form-contact span{
  display: block;
}

.form-contact input{
  margin-top: 1.3rem;
  background: var(--purple-background-form);
  border: none;
}

.form-contact-form{
  display: flex;
  flex-direction: column;
}
.form-name-input, .form-number-first, .form-number-second{
  height: 2.4rem;
}

.form-name-input{
  width: 100%;
} 
.form-number-first{
  width: 19%;
}

.form-number-second{
  width: 78%;
}

.form-contact-textarea{
  width: 100%;
  height: 9.6rem;
}

.form-number-description{
  margin-top: 2rem;
}

.form-contact-description{
  margin-top: 2rem;
}

.form-contact-logo{
  width: 10.9rem;
  height: 1.6rem;
  margin: 0 auto;
  margin-top: 4.4rem;
}

.submit-button-form{
  background: none;
  width: 18.8rem;
  height: 4rem;
  border-radius: 1rem;
  margin: 0 auto;
  margin-top: 3.4rem;
  margin-bottom: 2.7rem;
  border: 1px solid var(--light-purple-font);
  color: var(--light-purple-font);
}

/*ultimas propiedades*/
.last-properties-container{
  margin: 0 auto;
  width: 100%;
}

.last-properties{
  padding: 0 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}  

.last-properties .last-properties-title{
  margin-top: .4rem;
  color: var(--dark-purple);
  text-align: center;
}

.last-properties .last-properties-subtitle{
  color: var(--green-subtitle);
  text-align: center;
  margin-top: .6rem;
}


.last-properties-container .salesStateContainer{
  background: var(--dark-purple);
  display: inline-flex;
  width: 11.2rem;
  height: 2rem;
  border-radius: 1rem;
  display: grid;
  place-items: center;
  position: absolute;
  z-index: 1;
  top: .6rem;
  right: .6rem;
}

.last-properties-container .p-salesSate{
  color: var(--white);
  font-weight: 700;
}


.carousel-container{
  width: 100%;
  overflow-x: hidden;
  position: relative;
}
.principal-home-carousel{
  width: 300%;
  display: flex;
  position: relative;
  left: 0;
  transition-duration: .8s;
  transition-timing-function: ease-in-out;
}

.principal-home-carousel-1{
  width: 300%;
  display: flex;
  position: relative;
  left: -100%;
  transition-duration: .8s;
  transition-timing-function: ease-in-out;
}

.principal-home-carousel-2{
  width: 300%;
  display: flex;
  position: relative;
  left: -200%;
  transition-duration: .8s;
  transition-timing-function: ease-in-out;
}
 .principal-home-image{
  width: 100%;
  height: 19.3rem;
  background-size: cover;
  position: relative;
  scroll-snap-align: center;
}

.last-properties-container .last-property{
  width: 100%;
  height: 41rem; 
  background: var(--light-gray);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 2.4rem;
  position: relative;
}

.last-properties-container .navbar-home-photo{
  width: 100%;
  height: 19.3rem;
  background-size: cover;
  display: flex;
  padding: .8rem;
  position: relative;
}

.last-properties-container .state-home{
  width: 11.2rem;
  height: 2rem;
  background: var(--dark-purple);
  color: var(--white);
  border-radius: 1rem;
  display: inline-flex;
  place-items: center;
  justify-self: end;
  position: absolute;
  right: .8rem;
  justify-content: center;
}

.last-properties-container .p-small-state{
  color: var(--white);
}

.last-properties-container .points-nabvar-home{
  width: 7.8rem;
  height: .8rem;
  align-self: flex-end;
  position: absolute;
  left: calc(50% - 3.9rem);
  display: flex;
  justify-content: space-between;
  z-index: 1;
  bottom: 228px;
}

.last-properties-container .point-nabvar-home{
  display: block;
  width: .8rem;
  height: .8rem;
  background: var(--green-subtitle);
  border: 1px solid white;
  border-radius: 50%;
}

.last-properties-container .home-title{
  text-align: center;
  color: var(--dark-purple);
  margin-top: .9rem;
}

.last-properties-container .home-subtitle{
  text-align: center;
  color: var(--green-subtitle);
  margin-top: .6rem;
}

.last-properties-container .last-property-description{
  display: grid;
  height: 9.9rem;
  grid-template: repeat(3, 1fr)/4.6rem 1fr 4.6rem 1fr;
  grid-template-areas:"property-name-logo property-name-p property-name-p property-name-p"
                      "property-bedrooms-logo property-bedrooms-p property-bedrooms-p property-bedrooms-p"
                       "property-measure-logo property-measure-p property-bathrooms-logo property-bathrooms-p";
}

.last-properties-container .last-property-description span{
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  place-self: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.last-properties-container p{
  color: var(--dark-gray-form);
  align-self: center;
}

.last-properties-container .property-name-logo{ 
  background-image: url('./assets/icons/main-home-city.svg');
  grid-area: property-name-logo;
}

.last-properties-container .property-name-p{
  grid-area: property-name-p;
}

.last-properties-container .property-bedrooms-logo{
  background-image: url('./assets/icons/main-property-bedrooms.svg');
  grid-area: property-bedrooms-logo;
}

.last-properties-container .property-bedrooms-p{
  grid-area: property-bedrooms-p;
}

.last-properties-container .property-measure-logo{
  background-image: url('./assets/icons/property-measure-logo.svg');
  grid-area: property-measure-logo;
}

.last-properties-container .property-measure-p{
  grid-area: property-measure-p;
}

.last-properties-container .property-bathrooms-logo{
  background-image: url('./assets/icons/main-bathroom.svg');
  grid-area: property-bathrooms-logo;
}

.last-properties-container .property-bathrooms-p{
  grid-area: property-bathrooms-p;
}

.last-properties-container .button-action-cellphone{
  width: 18.8rem;
  height: 4.1rem;
  border-radius: 1rem;
  border:1px solid var(--dark-purple);
  color: var(--dark-purple);
  background: var(--light-medium-gray);
  display: inline-flex;
  place-content: center;
  align-content: center;
  padding-top: 1rem;
  position: absolute;
  left: calc( 50% - 9.4rem );
  margin-top: 1.6rem;
  text-decoration: none;
  font-size: var(--p);
  font-weight: bold;
}

.indexHouses{
  display: flex;
  margin: 0 auto;
  margin-top: 1.8rem;
  width: 14.6rem;
  justify-content: space-between;
}

.indexHouses a{
  display: block;
  width: 3.6rem;
  height: 3.6rem;
  background: var(--dark-purple);
  text-align: center;
  display: grid;
  place-content: center;
  color: var(--light-gray);
}

/*acceder propiedades*/

.explore-properties{
  height: 28rem;
  background-image: url('./assets/images/wallpaper-home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--light-gray);
  display: grid;
  place-items: center;
  margin-top: 1.2rem;
}

.explore-properties h1, .explore-properties p{
  text-align: center;
}

.explore-properties p{
  margin-top: 1.2rem;
  font-size: var(--p-medium);
}

.explore-properties a{
  width: 13.1rem;
  height: 3.9rem;
  display: block;
  border: 1px solid var(--white);
  color: var(--white);
  border-radius: 1rem;
  text-align: center;
  display: grid;
  place-items: center;
}

.explore-properties .explore-properties-buttons{
  display: flex;
  width: 27rem;
  margin: 0 auto;
  margin-top: 1.4rem;
  justify-content: space-between;
}

/*espacio publicitario*/

.advertising-section{
  height: 34.4rem;
  background-image: url('./assets/images/wallpaper-mansion-first.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
}

.advertising-section h2{
  margin-top: 9.5rem;
  text-align: right;
  width: 16.1rem;
  align-self: flex-end;
}

.advertising-section p{
  text-align: right;
  font-size: var(--p);
  margin-top: 1.2rem;
}

/*footer*/

.footer{
  background: var(--dark-purple);
  color: var(--light-purple-font);
  padding: 2.6rem 2.4rem .6rem;
}

.footer .logo-container{
  width: 14.5rem;
  height: 2.4rem;
  margin: 0 auto;
}

.logo-container .logo__finca-raiz{
  width: 100%;
  height: 100%;
}

.social__media-container{
  width: 13.9rem;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 3.4rem;
}

.social__media-container .social-media{
  display: block;
  width: 3rem;
  height: 3rem;
  background-size: cover;
}

.social__media-container .facebook{
  background-image: url('./assets/icons/facebook-icon-footer.svg');
}

.social__media-container .twitter{
  background-image: url('./assets/icons/twitter-icon-footer.svg');
}

.social__media-container .instagram{
  background-image: url('./assets/icons/instagram-icon-footer.svg');
}


.footer-form{
  margin-top: 2.4rem;
  max-width: 51.4rem;
}

.footer-form .footer-label-p{
  margin-top: .6rem;
  font-size: var(--p-medium);
}

.footer-form .footer__form-input{
  width: 100%;
  background: var(--purple-background-form);
  color: var(--light-gray);
  border: none;
  margin-top: 1.3rem;
  height: 3rem;
}

.footer-form .footer__form-button{
  margin: 0 auto;
  margin-top: 1.3rem;
  height: 4rem;
  width: 18.8rem;
  text-align: center;
  padding-top: .6rem;
  border: 1px solid var(--light-purple-font);
  color: var(--light-purple-font);
  background: var(--purple-background-form);
  border-radius: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
  display: block;
}

.footer-contact{
  margin-top: 1.6rem;
}

.footer-contact h1{
  text-align: center;
  font-size: var(--p);
}

.footer-contact .footer-location{
  color: var(--medium-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-location .location{
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-location .location-direction{
  background-image: url('./assets/icons/icon-location-footer.svg');
  width: 1.6rem;
  height: 1.8rem;
}

.footer-location .location-cellphone{
  background-image: url('./assets/icons/whatsapp-icon-footer.svg');
  width: 1.6rem;
  height: 1.6rem;
}

.footer-location .footer-location-item{
  display: inline-flex;
  margin: 0 auto;
  margin-top: 2rem;
  width: 16.7rem;
  height: 2.4rem;
  align-items: center;  
  justify-content: space-around;
}

.footer-author, .footer-rights{
  text-align: center;
}

.footer-author{
  margin-top: 2.8rem;
}

.footer-rights{
  margin-top: .8rem;
  margin-bottom: .8rem;
}

